# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Give examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. SciPy
3. Matplotlib
4. Pandads

|Data Science Tools|
|------------------------|
|Jupyter Notebook|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 120
Hours = Minutes/60
print(Hours)

2.0

## Author

Christopher Stead